<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">hamtaro-starter</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" data-gopage="Guide">README</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" data-modal="CreateAjaxRequest" style="cursor:pointer;">Create an ajax request</a></li>
                        <li><a class="dropdown-item" data-modal="CreateEvent" style="cursor:pointer;">Create an event</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" data-modal="CreateComponent" style="cursor:pointer;">Create a component</a></li>
                        <li><a class="dropdown-item" data-modal="CreateForm" style="cursor:pointer;">Create a form</a></li>
                        <li><a class="dropdown-item" data-modal="CreateModal" style="cursor:pointer;">Create a modal</a></li>
                        <li><a class="dropdown-item" data-modal="CreatePage" style="cursor:pointer;">Create a page</a></li>
                    </ul>
                </li>
            </ul>

            <div class="d-flex">
                <a class="nav-link" href="https://github.com/cejobelo" target="_blank">cejobelo</a>
            </div>
        </div>
    </div>
</nav>