<div class="mb-3">
    <label for="CreateEventCtrl" class="form-label">Ctrl</label>
    <input type="text" class="form-control" id="CreateEventCtrl" name="ctrl_controller" required>
</div>

<button type="submit" class="btn btn-primary">Create</button>